/*=================mise en page du header==================*/



nav {
  background-color: rgb(245,107,42)!important;
  flex-flow: row;
  height: auto;
}

H1 > img {
  width: 150px;
}

H1 {
  margin: 0;
}

header > nav > div > a {
  position: relative;
  /*padding: 0;*/
  margin: auto;
}

header > nav > div:last-child {
}

.navbar button {
  padding: 0px 10px;
  margin: 8px 10px;
  font-weight: bolder;
  color: rgb(245,107,42)!important;
  font-size: 15px;
  height: 40px;
  background-color: white;
}


@media (min-width:970px) {

  /*=================mise en page du header==================*/

  header > nav > div > a {
    position: relative;
    /*padding: 0;*/
    margin: auto;
  }

}
