
/*=================mise en page générale==================*/


p {
  /*font-size: 13px;*/
  font-family: sans-serif;
}

/*=================mise en page du header==================*/



nav {
  background-color: rgb(245,107,42)!important;
  flex-flow: row;
  height: auto;
}

H1 > img {
  width: 150px;
  margin: -10px auto auto -20%;
}

H1 {
  margin: 0;
}

header > nav > div > a {
  margin: auto;
}

.navbar button {
  padding: 0px 10px;
  margin: 8px 10px;
  font-weight: bolder;
  color: rgb(245,107,42)!important;
  font-size: 15px;
  height: 40px;
  background-color: white;
}

.btn-primary {
  background-color: rgb(73,143,232);

}

/*=================mise en page de main==================*/

main {
  width: 90%;
  margin: auto;
}

/*premiere rubrique*/


main > div:first-child > div > p {
  /*font-weight: bold;*/
  text-align: center;
  font-size: 0.9em;
  font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bolder;
  line-height: 1.5;
  margin: 1em auto;
  /*letter-spacing: -0.5px;*/
}

main > div:first-child > div > p span {
  color:rgb(245,107,42);
}

main > div:first-child div {
  display: flex;
  flex-flow: column;
  margin: auto;
}

main > div:first-child button {
  font-size: 0.8em;
  width: 290px;
  font-weight: bold;
  text-align: center;
  margin: 8px auto;
}
main > div:first-child button:last-of-type {
  color: #4183d7;
  border: 1px solid #4183d7;
}

main > div:first-child button:last-of-type:hover {
  background-color :#d9e6f7
}



/*rubrique carte de france*/

main .carte {
  text-align: center;
}

main .carte map, main .carte > img {
  width: 100%;
  margin: 0.7em auto;
  max-width: 410px;
}




/*rubrique bouton mobile régions */


main > div:nth-of-type(2) > button {
  width: 100%;
  margin: 1.2em auto;
  color: black;
  background-color: white;
  border: 1px solid lightgray;
  text-align: left;
}

main > div:nth-of-type(2) > button:focus {
  box-shadow: none;
  border: 1px solid rgb(245,107,42);
}

main > div:nth-of-type(2) > ul {
  margin: 0 0 -25px 0!important;
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  font-size: 14px;
}

main > div:nth-of-type(2) > ul li {
  font-size: 18px;
  /*line-height :30px;*/
  margin: 0;
  font-weight: bold;
  width: 100%!important;
  overflow: hidden;
}

main > div:nth-of-type(2) > ul li a {
  color: black;
  padding: 5px 100px 5px 0;
  /*width: 100%!important; pb que je ne comprends pas >>>>>> pourquoi ne prend-il pas cette déclaration ? */
}

main > div:nth-of-type(2) > ul li:hover, main > div:nth-of-type(3) > ul li:hover a  {
  text-decoration: none;
  background-color: rgb(245,107,42);
  color: white;
}


/*rubrique liste avant footer  */

main > p {
  text-align: center;
  font-size: 0.8em;
  /*color: black;*/
  text-shadow: 0 0.2px 0.2px;
  line-height: 17px;
}



/*=================mise en page de footer==================*/

footer * {
  background-color: rgb(71,71,71);
  margin-bottom: 0;
}

footer > p:last-child {
  font-size: 0.9em;
  color: white;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer > p:last-child > span {
  margin: 1em 0 auto 0.5em;
}

footer > p:last-child span a i {
  color: white;
  margin-top: -10px;
  border-radius: 5px;
  width: 30px;
  height: 27.5px;
  padding-top: 6px;
  margin-right: 0.3em;
  text-align: center;
}

footer > p:last-child span a:hover i {
  transform: scale(1.14);
  transition: 0.4s;
}

/*pour icone facebook*/
footer > p:last-child span a .fa-facebook {
  background-color: rgb(59,89,152);
}

/*pour icone twitter */


footer > p:last-child span a .fa-twitter {
  background-color: rgb(0,176,237);
}

/*==================
MISE EN PAGE TABLET
==================*/


@media (min-width:768px) {

  /*=================mise en page du header==================*/


  /*=================mise en page du main ==================*/

  /*premiere rubrique*/

  main > div:first-child > div:first-child {
    margin-top: 1em;
  }

  main > div:first-child > div:first-child p {
    text-align: left;
  }

}

/*==================
MISE EN PAGE LAPTOP
==================*/


@media (min-width:970px) {

  /*=================mise en page du header==================*/

  header > nav > div > a img {
    margin-left: 10%;
  }

  header > nav div:nth-child(2) {
    margin: 0!important;
  }

  header > nav div:nth-child(2) > ul {
    font-variant-caps: small-caps;
  }


  .navbar-light .navbar-nav .nav-link {
    margin-top: 5px;
    color: white;
    text-shadow: 0 0.4px 0.2px;
  }

  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    text-decoration: underline;
    padding-bottom: 0;
    /*border: 1px solid red:*/
  }

  header > nav div:nth-child(2) form button {
    background-color: inherit;
    color: white!important;
    /*border: 1px solid red;*/
    height: 150%;
    margin: -15px 0 0 0;
    border-radius: 0;
  }


  header > nav div:nth-child(2) form button i {
    margin-right: 10px;
  }


  header > nav div:nth-child(2) form button:hover {
    background-color: white;
    color: rgb(245,107,42)!important;
    transition: 0.4s;
  }


  /*=================mise en page du main==================*/
  main > p {
    margin: 6em auto 3em auto;
  }
  main > div:first-child div {
  margin: 0;
  }

  /*=================mise en page du aside==================*/


  aside > ul {
    text-align: right;
    top: 75px;
    position: absolute!important;
    font-size: 0.9em;
    text-shadow: 0 0.3px 0.2px;
    right: 38px;
    list-style-type: none;
  }

  aside ul li a {
    color: #369;
  }

  aside ul li a:hover {
    text-decoration: none;
    color: rgb(245,107,42);
  }


    /*=================mise en page du footer==================*/

  footer > p:first-of-type, footer >p:first-of-type a {
    /*width: 100%;*/
    text-align: center;
    color: white;
  }

  footer > div:first-child {
    padding: 1.4em 3em;
  }

  footer > div:first-child, footer >div:first-child * {
    background-color: rgb(242,242,242);
    color: #369;
  }

  footer >div:nth-child(2) * {
    color: white;
  }

  footer >div:nth-child(2) {
    padding: 1.4em 3em;
  }

  footer .liste-image-row {
    display: flex;
  }

  footer .liste-image-row img {
    width: 100%;
    max-width: 100px;
    margin: 5px;
  }

  footer >div:nth-child(2) h3 {
    font-size: 15px;
    font-variant-caps: small-caps;
    font-weight: bold;
  }

  footer >div:nth-child(2) li {
    line-height: 30px;
  }

  footer > div *, footer > p  {
    font-size: 13px;
    list-style: none;
  }

  footer > div ul {
    padding: 0 0 16px 0;
    border-top: 1px solid lightgray;

  }


  footer > div ul li select, footer > div ul li select * {
    width: 100%;
    margin-top: 1em;
    color: black!important;
    font-size: 12px!important;
    background-color: white;
  }
}
