

/*=================mise en page générale==================*/


p {
  /*font-size: 13px;*/
  font-family: sans-serif;
}

/*=================mise en page du header==================*/



nav {
  background-color: rgb(245,107,42)!important;
  flex-flow: row;
  height: auto;
}

H1 > img {
  width: 150px;
  margin: -10px auto auto -20%;
}

H1 {
  margin: 0;
}

header > nav > div > a {
  margin: auto;
}

.navbar button {
  padding: 0px 10px;
  margin: 8px 10px;
  font-weight: bolder;
  color: rgb(245,107,42)!important;
  font-size: 15px;
  height: 40px;
  background-color: white;
}

.btn-primary {
  background-color: rgb(73,143,232);

}

/*=================mise en page de main==================*/

main {
  width: 90%;
  margin: auto;
}

/*premiere rubrique*/
main > div:first-child > p {
  /*font-weight: bold;*/
  text-align: center;
  font-size: 0.9em;
  font-family: apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bolder;
  line-height: 1.5;
  margin: 1em auto;
  /*letter-spacing: -0.5px;*/
}

main > div:first-child > p span {
  color:rgb(245,107,42);
}

main > div:first-child {
  display: flex;
  flex-flow: column;
  margin: auto;
}

main > div:first-child button {
  font-size: 0.8em;
  width: 290px;
  font-weight: bold;
  text-align: center;
  margin: 8px auto;
}
main > div:first-child button:last-of-type {
  color: #4183d7;
  border: 1px solid #4183d7;
}

main > div:first-child button:last-of-type:hover {
  background-color :#d9e6f7
}



/*rubrique carte de france*/

main .carte {
  text-align: center;
  /*margin: auto;*/
}
main .carte map, main .carte > img {
  max-width: 100%;
}


/*==================
MISE EN PAGE TABLET
==================*/


@media (min-width:) {

  /*=================mise en page du header==================*/




/*==================
MISE EN PAGE LAPTOP
==================*/


@media (min-width:970px) {

  /*=================mise en page du header==================*/

  header > nav > div > a {
    position: relative;
    /*padding: 0;*/
    margin: auto;
  }

}
